<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>404 | Hata</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    
    <!-- Custom fonts for this template -->
    <link href="{{url_for ('static', filename = 'vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type

    <!-- Bootstrap Core Css -->
    <link href="{{url_for ('static', filename = 'vendor/bootstrap/css/bootstrap.css')}}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{{url_for ('static', filename = 'vendor/node-waves/waves.css')}}" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="{{url_for ('static', filename = 'vendor/404style.css')}}" rel="stylesheet">
</head>

<body class="four-zero-four text-white" style="background-color: #3B3C4B">
    <div class="four-zero-four-container">
        <div class="error-code">4<i class="fa fa-github"></i>4</div>
        <div class="error-message text-white">{{error}}</div>
        <div class="button-place">
            <a href="" class="btn btn-default btn-lg waves-effect">Anasayfay'a Dön</a>
        </div>
    </div>

 <!-- Jquery Core Js -->
    <script src="{{url_for ('static', filename = 'vendor/jquery/jquery.min.js')}}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{{url_for ('static', filename = 'vendor/bootstrap/js/bootstrap.js')}}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{{url_for ('static', filename = 'vendor/node-waves/waves.js')}}"></script>
</body>

</html>